{% extends "layout.html" %}

{% block title %}
    Create Tour
{% endblock title %}

{% block body %}
    <h2>Create Tour</h2>
    <form action="/create-tour/" method="POST">
        <label for="from_city">From City</label>
        {{ form.from_city(class="form-control", placeholder="Samsun") }}
        <br>
        <label for="to_city">To City</label>
        {{ form.to_city(class="form-control", placeholder="Istanbul") }}
        <br>
        <label for="tour_date">Tour Date</label>
        {{ form.tour_date(class="form-control", placeholder="10.12.2021") }}
        <br>
        <label for="note">Note</label>
        {{ form.note(class="form-control", placeholder="Optional") }}
        <br>

        <input class="btn btn-primary" type="submit" value="Create">
    </form>
{% endblock body %}