{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div class="text-center">
        <img src="{{ user.picture }}" alt="profile_picture" style="border-radius: 100%" width="200" height="200">
        <br><br>
        <h5>Name: {{ user.name }}</h5>
        <strong>Email:</strong>
        <a href="mailto:{{ user.email }}">{{ user.email }}</a>
        <br>
        <strong>Twitter:</strong>
        <a href="https://twitter.com/{{ user.twitter_username }}" target="_blank">{{ user.twitter_username }}</a>
        <br>
        <strong>Instagram:</strong>
        <a href="https://instagram.com/{{ user.twitter_username }}" target="_blank">{{ user.instagram_username }}</a>
        <br>
        <strong>Telegram:</strong>
        <a href="https://t.me/{{ user.twitter_username }}">{{ user.telegram_username }}</a>
        <br>
        <strong>City:</strong>
        <a href="https://tr.wikipedia.org/wiki/{{ user.city }}_(il)" target="_blank">{{ user.city }}</a>
        <br>
        <hr>
        <strong>Motorcycle Brand:</strong>
        <p>{{ user.motorcycle_brand }}</p>
        <strong>Engine Capacity:</strong>
        <p>{{ user.engine_capacity }}</p>
        <a class="btn btn-primary" href="/edit-profile">Edit Profile</a>
        <a class="btn btn-success" href="/user/{{ user.email }}">Outside View</a>
    </div>
</div>

{% endblock body %}