<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark" style="background-color: aqua">
    <a class="navbar-brand" href="/">MotoTourMate</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/about">Hakkında</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/tours">Turlar</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/groups">Gruplar</a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">

            {% if session["logged_in"] == True %}
            <li class="nav-item active">
                <a class="nav-link" href="/profile">Profil</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/create-tour">Tur Oluştur</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/create-group">Grup Oluştur</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/logout">Çıkış Yap</a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Giriş Yap</a>
            </li>

            <li class="nav-item active">
                <a class="nav-link" href="/login">Kayıt Ol</a>
            </li>
            {% endif %}
        </ul>
    </div>
</nav>