<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <div class="form-box">
        <form class="register" method="POST">
            <h2 class="register">Register</h2>
            {{ form.name(class="name", placeholder="Name") }}
            {{ form.username(class="username", placeholder="Username") }}
            {{ form.email(class="email", placeholder="hi@example.com") }}
            {{ form.password(class="password", placeholder="password") }}
            {{ form.confirm(class="confirm", placeholder="Confirm") }}
            <div class="buttons">
                <button class="button" type="submit">Register</button>
                <button class="button">Log in</button>
            </div>

        </form>
    </div>
</body>

</html>