{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div>
        <h4>Welcome MotoTourMate {{ name }}.</h4>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor dolorem eveniet inventore molestiae obcaecati
            quae voluptate? Culpa dolore eveniet, molestiae quasi quia soluta sunt tempore.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur consequuntur labore nihil.</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad assumenda atque blanditiis consectetur corporis
            eos esse eveniet ex fuga fugiat illum inventore ipsa maxime modi odio perferendis quam quasi, quidem quod
            ratione similique sint temporibus unde vel vitae. Asperiores esse id ipsum laudantium maxime non odio quas
            qui reprehenderit voluptas? Accusamus aperiam at atque aut consectetur consequatur eaque eos error est, hic
            inventore laborum maxime necessitatibus ratione repellendus similique vel!</p>
    </div>
</div>

{% endblock body %}