{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div>
        <h4>MotoTourMate'e hoşgeldin {{ name }}</h4>

        <br>
        <p>Motosiklet severler hepinize selam. Bu uygulama ilgili bazı bilgiler vereceğim.</p>
        <p>İlk olarak uygulama tamamiyle ücretsizdir. Peki ne işe yarıyor? Bu uygulama ile
            motosikletiniz ile çıkacağınız yolculuklarda arkadaş bulabilirsiniz. Uygulama içinde
            tur oluşturabilir veya bir tura katılabilirsiniz. Sonrasında da iletişime geçip planınızı
            yapabilirsiniz.
        </p>
        <p>
            Uygulama zamanla güncelleme alacaktır. Olmasını istediğiniz özellikleri söylerseniz zamanla
            ekleyebiliriz.
        </p>
        <p>
            Herkese iyi yolculuklar :)
        </p>
    </div>

    <br>
    <hr>
    <br>

    <div>
        <h4>İletişim:</h4>
        <b>Twitter:</b> <a href="https://twitter.com/ilteriskeskin" target="_blank">@ilteriskeskin</a>
        <br>
        <b>Email:</b> <a href="mailto:aliilteriskeskin@gmail.com" target="_blank">aliilteriskeskin@gmail.com</a>
    </div>
</div>

{% endblock body %}