{% extends "layout.html" %}

{% block body %}

<div class="container">
    <div>
        <h4>Welcome MotoTourMate {{ name }}</h4>

        <strong>TR: </strong>
        <br>
        <p>Motosiklet severler hepinize selam. Bu uygulama ilgili bazı bilgiler vereceğim.</p>
        <p>İlk olarak uygulama tamamiyle ücretsizdir. Peki ne işe yarıyor? Bu uygulama ile
            motosikletiniz ile çıkacağınız yolculuklarda arkadaş bulabilirsiniz. Uygulama içinde
            tur oluşturabilir veya bir tura katılabilirsiniz. Sonrasında da iletişime geçip planınızı
            yapabilirsiniz.
        </p>
        <p>
            Uygulama zamanla güncelleme alacaktır. Olmasını istediğiniz özellikleri söylerseniz zamanla
            ekleyebiliriz.
        </p>
        <p>
            Herkese iyi yolculuklar :)
        </p>

        <hr>

        <strong>En: </strong>
        <br>
        <p>Hello motorcycle lovers. I will give some information about this application.</p>
        <p>First of all, the application is completely free. So what does it do? With this application
            You can find friends on your journey with your motorcycle. Within the application
            You can create a tour or join a tour. Then get in touch and send your plan.
            You can do it.
        </p>
        <p>
            The application will update over time. If you say the features you want to be, we can add them over time.
        </p>
        <p>
            Have a nice trip everyone :)
        </p>
    </div>
</div>

{% endblock body %}