{% extends "layout.html" %}

{% block title %}
Edit Tour
{% endblock title %}

{% block body %}
<h2>Profili Düzenle</h2>
<form action="/edit-tour/{{ id }}" method="POST">
    <label for="tour_name">Tur Başlığı</label>
    {{ form.tour_name(class="form-control", placeholder="Samsun-Istanbul Tour") }}
    <br>
    <label for="from_city">Başlangıç Şehri</label>
    {{ form.from_city(class="form-control", placeholder="Samsun") }}
    <br>
    <label for="to_city">Varış Şehri</label>
    {{ form.to_city(class="form-control", placeholder="Istanbul") }}
    <br>
    <label for="tour_date">Tur Tarihi</label>
    {{ form.tour_date(class="form-control", placeholder="10.12.2021") }}
    <br>
    <label for="note">Not</label>
    {{ form.note(class="form-control", placeholder="Optional") }}
    <br>

    <input class="btn btn-primary" type="submit" value="Güncelle">
    <a class="btn btn-danger" href="/">İptal</a>
</form>
{% endblock body %}