{% extends "layout.html" %}

{% block body %}

<div class="jumbotron text-center">
    <h3>MotoTourMate'te oluşturulan turları burda görebilirsiniz.</h3>
</div>

{% if tours == [] %}
<div class="alert alert-danger" role="alert">
    Henüz bir tur oluşturulmadı.
</div>
{% else %}
<div class="d-flex justify-content-center px-5">
    <form class="form-inline" action="{{ url_for('search') }}" method="GET">
        <input class="form-control mr-sm-2" type="search" placeholder="Başlangıç Şehri" aria-label="Search" name="q">
        <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Ara</button>
    </form>
</div>
<br><br><br>

<div class="table-responsive-sm">
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th scope="col">Başlık</th>
                <th scope="col">İsim</th>
                <th scope="col">Email</th>
                <th scope="col">Başlangıç Şehri</th>
                <th scope="col">Varış Şehri</th>
                <th scope="col">Tarih</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr onclick="window.location='/tour-detail/{{ tour._id }}'" style="cursor: pointer;">
                <td>{{ tour.tour_name }}</td>
                <td>{{ tour.name }}</td>
                <td>{{ tour.email }}</td>
                <td>{{ tour.from_city }}</td>
                <td>{{ tour.to_city }}</td>
                <td>{{ tour.tour_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endif %}
{% endblock body %}