{% extends "layout.html" %}

{% block title %}
Tur Detayları
{% endblock title %}

{% block body %}

{% if session['email'] == tour_detail['email'] %}
<a class="btn btn-success" href="/edit-tour/{{ tour_detail['_id'] }}">Tur Bilgilerini Düzenle</a>
{% endif %}

<br><br>

<h2>Tur Detayları</h2>
<hr>

<strong>Tur Başlığı: </strong>{{ tour_detail['tour_name'] }}
<br>
<strong>Oluşturan: </strong> <a href="/user/{{ tour_detail['email'] }}">{{ tour_detail['name'] }}</a>
<hr>

<h3>Tur Bilgileri</h3>
<strong>Tarih: </strong>{{ tour_detail['tour_date'] }}
<br>
<strong>Başlangıç Şehri: </strong>{{ tour_detail['from_city'] }}
<br>
<strong>Varış Şehri: </strong>{{ tour_detail['to_city'] }}
<hr>

<!--<h3>Creator's Engine Info</h3>
<strong>Motorcycle Brand: </strong>{{ tour_detail['motorcycle_brand'] }}
<br>
<strong>Engine Capacity: </strong>{{ tour_detail['engine_capacity'] }}
<hr>

<h3>Creator's Contact Info</h3>
<strong>Email: </strong>{{ tour_detail['email'] }}
<br>
<strong>Twitter Username: </strong><a href="https://twitter.com/{{ tour_detail['twitter_username'] }}" target="_blank">{{
    tour_detail['twitter_username'] }}</a>
<br>
<strong>Instagram Username: </strong><a href="https://instagram.com/{{ tour_detail['instagram_username'] }}"
                                        target="_blank">{{ tour_detail['instagram_username'] }}</a>
<br>
<strong>Telegram Username</strong>{{ tour_detail['telegram_username'] }}
<hr>-->

<h3>Oluşturanın Notları:</h3>
<strong>Not: </strong>{{ tour_detail['note'] }}

<br><br><br><br>
<form action="/join-tour/{{ tour_detail['_id'] }}" method="POST">
    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Tura Katıl">
    </div>
</form>

<hr>

<h3>Katılımcılar</h3>
{% for subs in tour_detail['subscriber'] %}
<li>
    <a href="/user/{{ subs }}">{{ subs }}</a>
</li>
{% endfor %}
{% endblock body %}